div.records_row
{
  float: left;
  text-align: center;
  width: 1000px;
  margin-bottom: 15px;
}

a.records_link
{
  margin-left: 450px;
  float: left;
}

a#record_highest_link
{
  margin-left: 460px;
  float: left;
}

div.records_divider
{
  margin-left: 3px;
  margin-right: 3px;
  float: left;
}

div.records_value
{
  float: left;
}

.h3, h3
{
  margin-bottom: 8px;
  margin-top: 5px;
}

