div.records_row
{
  float: left;
  text-align: center;
  width: 1000px;
  margin-bottom: 5px;
}

a.records_link
{
  margin-left: 450px;
  float: left;
}

div.records_divider
{
  margin-left: 1px;
  margin-right: 2px;
  float: left;
}

div.records_value
{
  float: left;
}

.h3, h3
{
  margin-bottom: 5px;
  margin-top: 5px;
}