/* results table styling*/
.res_hdr
{
  margin-bottom: 0.5em;
}

.upsets_hdr
{
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.resultrow
{
  clear: both;
  display: table;
  margin: 0 auto;
  text-align: left;
}

.upsetrow
{
  clear: both;
  display: table;
  margin: 0 auto;
  text-align: left;
}

.result
{
  float: left
}

.res_delta
{
  float: left;
  width: 3em;
}

.res_rank
{
  float: left;
  width: 3em;
}

.res_player
{
  float: left;
  width: 3em;
}

.res_divider
{
  float: left;
  width: 3em;
}

.res_divider_player_page
{
  float: left;
  width: 5em;
}

.res_delta_left
{
  text-align: right;
  margin-right: 0.5em;
}

.res_delta_right
{
  text-align: left;
}

.res_delta_win
{
  color: green;
 /* margin-right: 1em;*/
}

.res_delta_lose
{
  color: red;
}

/* end of results table styling */

