/* expected win table styling */

.exp_win_table
{
  
}

.exp_hdr
{
  margin-top: 1em;
  margin-bottom: 0.5em;
  height: 1em;
}

.expected_win_row
{
  clear: both;
}

.rating_diff
{
  float: left;
  width: 46%;
  text-align: right;
  margin-right: 8%;
}

.win_percentage
{
  float: left;
  width: 46%;
  text-align: left;
}

/* end of expected win table styling */

