div.resultadder
{
  clear: center;
  float: center;
  text-align: center;
}

ul
{
  padding: 0px;
  list-style-type:none;
  text-align: center;
}

body
{
  font-family: 'Courier New', Fixed, sans-serif;
  font-size: small;
  text-align: center;
}

#main_container
{
  width: 1000px;
  margin: 0 auto;
}

.rank
{
  font-weight: bold;
}

a.idlink
{
  font-weight: bold;
}

#ttennis_doodle
{
  width: 50%;
  height: auto;
}

.main_column
{
  float: left;
  width: 27.5em;
  margin-right: 10em;
}

.secondary_column
{
  margin-top: 10em;
  float: left;
  width: 22em;
}

/* Results table on a Player Page */
.results_tbl_pPage
{
  float: right;
  width: 400px;
}

#outer_tbl
{
  display: inline-block;
  margin: 0 auto;
}

#main_ladder
{
}

#s_tbl
{
  padding-bottom: 16px;
}

#inactive_tbl
{
  color: grey;
}

#recent_res_tbl
{
}

.hdr
{
  clear: both;
  font-style: italic;
  font-weight: bold;
}

.inactive_hdr
{
  clear: both;
  font-style: italic;
  font-weight: bold;
  color: grey;
}

/* ladder styling */
.playerrow
{
  clear: both;
  display: table;
  margin: 0 auto;
  text-align: left;
}

.playerrow_top
{
  border-radius: 1em;
  padding: 0.3em;
  margin: 0.5em auto;
}

.playerrow1
{
  background-color: gold;
}

.playerrow2
{
  background-color: silver;
}

.playerrow3
{
  background-color: burlywood;
}

.playerrow10
{
  padding-bottom: 1em;
}

.ladder
{
  float: left;
}

.lad_pos
{
  text-align: right;
  width: 2em;
  margin-right: 2em;
}

.lad_rank
{
  width: 5em;
}

.lad_player
{
  width: 5em;
}

.lad_record
{
  width: 5.5em;
}

.lad_past
{
  width: 6em;
  margin-right: 1em;
}

.lad_past_entry
{
  text-align: right;
}

/* end of ladder styling */

/* results table styling*/
.res_hdr
{
  margin-bottom: 0.5em;
}

.resultrow
{
  clear: both;
  display: table;
  margin: 0 auto;
  text-align: left;
}

.result
{
  float: left
}

.res_delta
{
  float: left;
  width: 3em;
}

.res_rank
{
  float: left;
  width: 3em;
}

.res_player
{
  float: left;
  width: 3em;
}

.res_divider
{
  float: left;
  width: 3em;
}

.res_divider_player_page
{
  float: left;
  width: 4.5em;
}

.res_delta_left
{
  text-align: right;
  margin-right: 0.5em;
}

.res_delta_right
{
  text-align: left;
}

.res_delta_win
{
  color: green;
 /* margin-right: 1em;*/
}

.res_delta_lose
{
  color: red;
}

/* end of results table styling */


#player_page
{
  width: 1200px;
  margin: 0 auto;
}

hr
{
  width: 90%;
  clear: left;
}

.player_rating_range
{
  width: 40%;
  float: left;
  text-align: center;
  padding-bottom: 10px;
}

.home_page_link
{
  float: right;
  width: 15%;
  padding-bottom: 10px;
}

.player_padding
{
  width: 15%;
  float: left;
  padding-bottom: 10px;
}

.rating_bar
{
  width: 1200;
  float: left;
}
