<!DOCTYPE HTML>
<html lang="en-US">

<head>
  <script src="json2.js"> </script> <!-- this to make IE work -->
  <script src="jquery-1.10.2.min.js"> </script>
  <script src="jsrender.js"> </script>
  <script src="footy.js"> </script>
  <link rel="stylesheet" href="footy.css" />

  <link href='http://fonts.googleapis.com/css?family=Port+Lligat+Slab' rel='stylesheet' type='text/css'>

  <title>Table Tennis</title>
</head>

<body>
<script>

$("#addsingles").click(function(){ alert("yo"); });

$( document ).ready(function() { startup(); drawtable(); addClickHandlers();});

</script>

<div class="main_container">
  <div class="navbar">
    <ul>
      <li><a class="active" href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
    </ul>
  </div>
  <h1>Table Tennis Rankings</h1>
  <img id="ttennis_doodle" src="ttennis_doodle.png" alt="table tennis doodle"/>
  <hr>
  <div class="resultadder">
    <p>Add results: <button id="add_single_left">Winner</button>
      <input type="text" value="" name="l_player" id="player_left">
      vs
      <input id="player_right" type="text" value="" name="r_player">
      <button id="add_single_right">Winner</button>
      <button id="clear_results_players">Clear</button>
    </p>
  </div>

  <hr>

  <div id="outer_tbl">
    <div id="main_ladder" class="main_column">
      <div class="hdr playerrow">
        <div class="ladder lad_pos">Pos</div>
        <div class="ladder lad_rank">Rating</div>
        <div class="ladder lad_player">Player</div>
        <div class="ladder lad_record">Record</div>
        <div class="ladder lad_past">Past</div>
      </div>
      <div id="s_tbl">
        <div id="player" class="playerrow"></div>
      </div>
      <div class="inactive_hdr">Inactive Players</div>
      <div id="inactive_tbl">
        <div id="player" class="playerrow"></div>
      </div>
    </div>

    <div id="recent_res_tbl" class="secondary_column">
      <div class="hdr res_hdr">Recent Results</div>
      <div id="rec_res_tbl">
        <div id="result" class="resultrow"></div>
      </div>
    </div>

    <div id="upsets_tbl" class="secondary_column">
      <div class="hdr upsets_hdr">Biggest Upsets</div>
      <div id="upset_tbl">
        <div id="result" class="resultrow"></div>
      </div>
    </div>
  </div>
</div>

<script id="playerTemplate" type="text/x-jsrender">
    <div id="player" class="playerrow
{{if ((pos % 10) == 0)}}
 playerrow10
{{/if}}
{{if (pos == 1)}}
 playerrow_top playerrow1
{{/if}}
{{if (pos == 2)}}
 playerrow_top playerrow2
{{/if}}
{{if (pos == 3)}}
 playerrow_top playerrow3
{{/if}}
">
      <div class="ladder lad_pos">{{:pos}}</div>
      <div class="ladder lad_rank">{{:rank}}</div>
      <div class="ladder lad_player">
        <a class="idlink" href="player.html?{{:id}}">{{:id}}</a>
      </div>
      <div class="ladder lad_record">{{:record}}</div>
      <div class="ladder lad_past lad_past_entry">{{:gamerun}}</div>
    </div>
</script>

<script id="inactive_player_template" type="text/x-jsrender">
    <div id="player" class="playerrow
{{if ((pos % 10) == 0)}}
 playerrow10
{{/if}}
">
      <div class="ladder lad_pos">{{:pos}}</div>
      <div class="ladder lad_rank">{{:rank}}</div>
      <div class="ladder lad_player">
        <a class="idlink" href="player.html?{{:id}}">{{:id}}</a>
      </div>
      <div class="ladder lad_record">{{:record}}</div>
      <div class="ladder lad_past lad_past_entry">{{:gamerun}}</div>
    </div>
</script>

<script id="resultTemplate" type="text/x-jsrender">
    <div id="result" class="resultrow">
      <div class="result res_delta res_delta_win res_delta_left">(+{{:delta}})</div>
      <div class="result res_rank">{{:v_rank}}</div>
      <div class="result res_player">
        <a class="idlink" href="player.html?{{:v_id}}">{{:v_id}}</a>
      </div>
      <div class="result res_divider">beat</div>
      <div class="result res_player">
        <a class="idlink" href="player.html?{{:l_id}}">{{:l_id}}</a>
      </div>
      <div class="result res_rank">{{:l_rank}}</div>
      <div class="result res_delta res_delta_lose res_delta_right">(-{{:delta}})</div>
    </div>
</script>

</body>
</html>
